header {
  background-color: white;
  border-bottom: 1px solid gray;
  color: black;
  display: flex;
  width: 100%;
}

header nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
head nav ul li {
  flex: 1;
}
header nav ul li a{
  color: black;
  display: block;
  font-size: larger;
  font-weight: 500;
  padding: 20px;
  text-decoration: none;
}

header nav ul li .active{
  border-bottom: 3px solid red;
}
